#descripcion{
    padding:0px 10px 0px 10px;
    grid-area: b1;
    color: black;
    border-radius: 5px;
}
#descripcion{
    padding:0px 10px 0px 10px;
    grid-area: b0;
    color: black;
    border-radius: 5px;
}
#datos{
    padding:0px 0px 0px 10px;
    grid-area: b2;
    color: black;
    border-radius: 5px;
}
#formulas{
    padding:0px 0px 0px 10px;
    grid-area: b3;
    color: black;
    border-radius: 5px;
}
#solucion{
    padding:0px 0px 0px 10px;
    grid-area: b4;
    color: BLACK;
    border-radius: 5px;
}
#resultado{
    padding:0px 0px 0px 10px;
    grid-area: b5;

    color: BLACK;
    border-radius: 5px;
}
#contenedor{
    display: grid;
    grid-template-columns:  repeat(4, [col] 1fr) ;
    grid-template-rows: auto;
    grid-template-areas: "a a a a "
                         "b b b b"
                         "b b b b"
                         "b b b b"
						 "b b b b"
                         "c c c c";
    width: 100%;
    height: 100%;  
}
 
.gridProblema{
    grid-area: b;  
}
#gridHeader{
    grid-area: a;
    width: 100%;
    height: 100px;
}
#gridPie{
    grid-area: c;
}
#problema{
    display: grid;
    grid-template-columns:  repeat(4, 1fr) ;
    grid-template-rows: auto;
    grid-template-areas: "b1 b1 b1 b1"
	                     "b0 b0 b0 b0"
                         "b2 b2 b3 b3"
                         "b4 b4 b5 b5";
    width: 100%;
    height: 100%;
}